In [1]:
import numpy as np
import pandas as pd

%matplotlib inline 
import matplotlib.pyplot as plt 

import sqlite3

import logging
logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('../src/'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
from dataset.db_query import *

In [5]:
conn = sqlite3.connect("../data/database.sqlite")

In [6]:
lt = LeagueTag.SWI
st = SeasonTag.S15_16


matches = query_matches(conn, lt, st)

INFO:root:got 180 rows (league: SWI (id 24558), season: 2015/2016) from db

In [9]:
matches.columns

Index(['date', 'country_id', 'league_id', 'season', 'match_api_id',
       'home_team_api_id', 'away_team_api_id', 'away_team_long_name',
       'home_team_long_name', 'away_team_short_name', 'home_team_short_name',
       'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11',
       'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
       'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
       'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4',
       'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'result'],
      dtype='object')

In [272]:
A = matches.loc[:, ['home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11']]

In [273]:
A.isnull().sum()

home_player_1     7
home_player_2     1
home_player_3     0
home_player_4     1
home_player_5     3
home_player_6     0
home_player_7     0
home_player_8     0
home_player_9     0
home_player_10    0
home_player_11    0
away_player_1     7
away_player_2     2
away_player_3     0
away_player_4     0
away_player_5     3
away_player_6     2
away_player_7     0
away_player_8     0
away_player_9     0
away_player_10    0
away_player_11    0
dtype: int64

In [5]:
players = query_all_players(conn)

INFO:root:got 183978 rows from db

In [11]:
players.head()

,date,player_fifa_api_id,player_api_id,player_name,overall_rating,potential,attacking_work_rate,defensive_work_rate,crossing,finishing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,birthday
0,2016-02-18,218353,505942,Aaron Appindangoye,67.0,71.0,medium,medium,49.0,44.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,1992-02-29 00:00:00
1,2015-11-19,218353,505942,Aaron Appindangoye,67.0,71.0,medium,medium,49.0,44.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,1992-02-29 00:00:00
2,2015-09-21,218353,505942,Aaron Appindangoye,62.0,66.0,medium,medium,49.0,44.0,...,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,1992-02-29 00:00:00
3,2015-03-20,218353,505942,Aaron Appindangoye,61.0,65.0,medium,medium,48.0,43.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,1992-02-29 00:00:00
4,2007-02-22,218353,505942,Aaron Appindangoye,61.0,65.0,medium,medium,48.0,43.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,1992-02-29 00:00:00

In [17]:
players.player_api_id.isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
183948    False
183949    False
183950    False
183951    False
183952    False
183953    False
183954    False
183955    False
183956    False
183957    False
183958    False
183959    False
183960    False
183961    False
183962    False
183963    False
183964    False
183965    False
183966    False
183967    False
183968    False
183969    False
183970    False
183971    False
183972    False
183973    False
183974    False
183975    False
183976    False
183977    False
Name: player_api_id, Length: 183978, dtype: bool